h3 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 10px;
    text-transform: uppercase;
}

.card {
    width: 400px;
}

.info {
    background-color: black;
    color: white;
    padding: 20px 0px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}