.movieImg {
    float: right;
}

.synopsis {
    text-transform: lowercase;
}
.synopsis::first-letter {
    text-transform: uppercase;
}
.moreInfo {
    font-weight: lighter;
    font-size: small; 
    display: flex;   
}
.moreInfo > span {
    padding-right: 20px
}
